<p>This component demonstrates fetching data from the server.</p>

<h3 id="tableLabel" text-right>Polls</h3>

<p *ngIf="!pollsLoaded"><em>Loading POLLS...</em></p>

<p *ngIf="pollsLoaded && polls.length == 0"><em>no poll data found</em></p>

<table *ngIf="polls && polls.length > 0" class="table table-sm table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">Poll id</th>
      <th scope="col">Poll Question</th>
      <th scope="col">Poll Answers</th>
      <th scope="col">Poll ending date</th>
      <th scope="col">Created at</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let poll of polls">
      <td scope="row">{{ poll.id }}</td>
      <td>{{ poll.question }}</td>
      <td>
        
        <table *ngIf="poll.answers.length > 0" class="table table-sm table-bordered table-hover">
          <thead>
            <tr>
              <th scope="col">Answer id</th>
              <th scope="col">Answer</th>
              <th scope="col">Votes</th>
              <th scope="col">Created at</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let answer of poll.answers">
              <td scope="row">{{ answer.id }}</td>
              <td>{{ answer.poll_answer }}</td>
              <td>{{ answer.votes.length }}</td>
              <td>{{ answer.created_at }}</td>
            </tr>
          </tbody>
        </table>
      </td>

      <td>{{ poll.ending_date }}</td>
      <td>{{ poll.created_at }}</td>
    </tr>
  </tbody>
</table>
