<div class="card col col-md-6 mx-auto">
  <div class="card-header p-3">
    Cast you vote:
    <br />
    <h2 class="py-2" *ngIf="poll">{{ poll.question }}</h2>
  </div>
  <div class="card-body  p-2  p-md-4">

    <p *ngIf="!pollLoaded"><em [style.color]="pollLoadingColor">{{ pollLoadingMsg }}</em></p>

    <p *ngIf="pollLoaded && poll == null"><em>No poll data found</em></p>

    <div *ngIf="poll && poll.answers.length > 0" class="table-responsive">

      <table class="table table-bordered table-sm table-hover w-auto">
        <thead>
          <tr>
            <th scope="col" class="w-50">Answer</th>
            <th scope="col">Total votes</th>
            <th scope="col">Cast vote</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let answer of poll.answers">
            <td scope="row">{{ answer.poll_answer }}</td>
            <td scope="row">{{ answer.votes.length }}</td>
            <td scope="row">
              <div *ngIf="!alreadyVoted && !pollHasEnded">
                <button class="btn btn-primary" (click)="castVote(answer.id)" *ngIf="!voteCastLoading">Cast vote</button>
                <button class="btn btn-primary" disabled *ngIf="voteCastLoading">Cast vote</button>
              </div>
              <div *ngIf="alreadyVoted && !pollHasEnded">
                You have voted!
              </div>
              <div *ngIf="pollHasEnded">
                Poll is closed.
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="my-4">
        <div *ngIf="voteCastLoading || (voteMsg && !alreadyVoted && pollHasEnded)" class="bg-info text-white p-3" [innerHTML]="voteMsg"></div>
        <div *ngIf="voteMsg && !voteCastSuccess && !voteCastLoading  && !alreadyVoted && !pollHasEnded" class="bg-danger text-white p-3" [innerHTML]="voteMsg"></div>
        <div *ngIf="voteMsg && ((voteCastSuccess  && !voteCastLoading) || alreadyVoted)" class="bg-success text-white p-3" [innerHTML]="voteMsg"></div>
      </div>
    </div>
  </div>
</div>
