nav {
  background-color: seagreen;
}

a.nav-link.active, a.nav-link:hover, button.navbar-toggler {
  background-color: white;
  color: black !important;
}

 button.navbar-toggler:hover {
  background-color: lightgray;
}

.dropdown-menu {
  min-width: 200px;
}

@media screen and (max-width:767px) {
  .nav-pills > li {
    width: 100%;
  }

  .btn-group {
    margin-left: auto;
  }
}
